temp
temp/*
.temp/*
dataset/rsna-bone-age-kaggle/boneage-test-dataset
dataset/rsna-bone-age-kaggle/boneage-training-dataset
dataset/rsna-bone-age/boneage-test-dataset
dataset/rsna-bone-age/boneage-training-dataset
# dataset/rsna-bone-age/*
checkpoints
checkpoints/*
.checkpoints/*
tensorboardLocal
tensorboardLocal/*
wandb/debug-cli.mahdi.log
wandb/*.log
# wandb
# tensorboard