temp
temp/*
.temp/*
dataset/rsna-bone-age
dataset/rsna-bone-age/*
checkpoints
checkpoints/*
.checkpoints/*
tensorboardLocal
tensorboardLocal/*
wandb/debug-cli.mahdi.log
wandb/*.log
# wandb
# tensorboard